html * {

  font-family: 'Montserrat', sans-serif; }

  .container {
    background: url("/05.30/uzduotis/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1170px;
    height: 506px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    gap: 140px;

  }

.img__container {
  margin: 0;
  padding: 0;
  flex: 1;
  height: 506px;
  display: flex;
  align-items: flex-end;
  margin-left: 25px;

}

.form__container {
  flex: 1;
  margin-right: 110px;
  height: 506px;
  
}

.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
}

.ivestis {
  background-color: #FFFFFF;
  border-radius: 3px;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.3);
  height: 50px;
  margin-bottom: 15px;
  border: none;
  padding-left: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 7px #158528;
}

.register__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background-color: #FFCE47;
  border-radius: 3px;
  height: 50px;
  border: none;
}

@media screen and (max-width: 700px) {
  body {
    margin: 0;
  }
  
  .container {
    flex-direction: column-reverse;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0px 50px;
    box-sizing: border-box;
    justify-content: center;
    gap: 0;
  }

  .form__container{
    margin: 0;
    text-align: center;
  }

  .img__container {
    width: 90%;
    height: auto;
    margin: 0;
  }
  
  img{
    margin: 0;
    width: 100%;
  }
}